body {
  margin-top: 20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}
/* navigation tab css */

.tab-content.active {
  display: block;
}

.tab-content.hide {
  display: none;
}

.newTab {
  border: none;
  background: none;
  color: blue;
  text-decoration: underline;
}

/* Image gallery styling */

.member-item {
  margin-top: 30px;
  /* overflow: hidden; */
  padding: 20px;
  background-color:white;
  text-align: center;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
/* stops bg color from leaking outside the border: */;
}

.member-item .thumb {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.member-item .thumb img {
  width: 100%;
}

.member-item h4 {
  margin: 20px 0 10px 0;
}

.member-item span {
  text-transform: uppercase;
  color: #d8aa46;
  font-weight: 600;
}

img {
  border-radius: 10px;
}

.responsive {
  max-width: 80%;
  height: auto;
}

.thumbnail img {
  border-radius: 2px;
}

